@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

header {
    background-color: #EE171F;
    text-align: center;
    padding: 1%;
    font-family: 'Marvel', sans-serif;
    font-size: xx-large;
    color: white;
    font-weight: bold;
}
