body {
    background-color: lightgray;
}

div#main-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    margin-top: 4%;
}

div#search-container {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 1%;
}

div#cards {
    display: flex;
    width: 50%;
    margin: 2%;
    flex-direction: column;
}

div#details {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    margin-right: 2%;
    padding: 2%;
    background-color: #EE171F;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    background-color: #EE171F;
}

div#details img {
    width: 35%;
    height: 35%;
    justify-content: start;
}

div#details #details-body {
    flex-direction: column;
    padding: 2%;
}

div#details #details-body p {
    font-family: 'Marvel';
    font-size: large;
    font-weight: bold;
}

footer#pagination {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    padding: 4%;
    margin-left: 5%;
    justify-content: space-between;
}

footer#pagination div {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    color: white;
    font-family: 'Marvel', sans-serif;
    font-size: large;
    background-color: #EE171F;
    width: 2%;
    height: 2%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    background-color: #EE171F;
    transition: 0.5s;
}

footer#pagination div:hover {
    background-color: #9c1015;
    cursor: pointer;
}

input#search-bar {
    width: 60%;
    font-size: large;
    font-family: 'Marvel', sans-serif;
}